certification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ubirch="http://ubirch.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="UBIRCHClientService"
                  targetNamespace="http://ubirch.com/">
    <wsdl:documentation>
        Description of the special use UBIRCH client service.
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema targetNamespace="http://ubirch.com/">
            <xsd:element name="Document">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ActionReferenceNumber" type="xsd:string"/>
                        <xsd:element name="ActionID" type="xsd:string"/>
                        <xsd:element name="SpecialUseID" type="xsd:string"/>
                        <xsd:element name="PeriodBeginDate" type="xsd:string"/>
                        <xsd:element name="PeriodBeginTime" type="xsd:string"/>
                        <xsd:element name="PeriodEndDate" type="xsd:string"/>
                        <xsd:element name="PeriodEndTime" type="xsd:string"/>
                        <xsd:element name="PostCode" type="xsd:string"/>
                        <xsd:element name="City" type="xsd:string"/>
                        <xsd:element name="District" type="xsd:string"/>
                        <xsd:element name="Street" type="xsd:string"/>
                        <xsd:element name="HouseNumber" type="xsd:string"/>
                        <xsd:element name="FromCrossroad" type="xsd:string"/>
                        <xsd:element name="ToCrossroad" type="xsd:string"/>
                        <xsd:element name="LicensePlate" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="GeoAreaCoordinates" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="GeoOverviewCoordinates" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CertificationResponse">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="Hash" type="xsd:string"/>
                        <xsd:element name="UPP" type="xsd:string"/>
                        <xsd:element name="Response" type="xsd:string"/>
                        <xsd:element name="URL" type="xsd:string"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CertificationFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="faultcode" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="faultstring" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="DocumentCertificationRequest">
        <wsdl:part name="parameters" element="ubirch:Document"/>
    </wsdl:message>

    <wsdl:message name="DocumentCertificationResponse">
        <wsdl:part name="parameters" element="ubirch:CertificationResponse"/>
    </wsdl:message>

    <wsdl:message name="CertificationFaultResponse">
        <wsdl:part name="fault" element="ubirch:CertificationFault"/>
    </wsdl:message>

    <wsdl:portType name="DocumentCertification">
        <wsdl:documentation>Send a certification request to anchor document.</wsdl:documentation>
        <wsdl:operation name="certify">
            <wsdl:input message="ubirch:DocumentCertificationRequest"/>
            <wsdl:output message="ubirch:DocumentCertificationResponse"/>
            <wsdl:fault message="ubirch:CertificationFaultResponse" name="CertificationFaultResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DocumentCertificationSOAP" type="ubirch:DocumentCertification">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="certify">
            <soap:operation soapAction="http://certify.ubirch.com/"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="CertificationFault">
                <soap:fault name="CertificationFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DocumentCertificationService">
        <wsdl:port binding="ubirch:DocumentCertificationSOAP" name="DocumentServiceSOAP">
            <soap:address location="http://certify.ubirch.com/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>